/* ========================= */
/*        FONTS              */
/* ========================= */

@font-face {
  font-family: 'Florensa';
  src:
    url('/fonts/FlorensaDemo-Regular.woff2') format('woff2'),
    url('/fonts/FlorensaDemo-Regular.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'TenorSans';
  src:
    url('/fonts/TenorSans-Regular.woff2') format('woff2'),
    url('/fonts/TenorSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* ========================= */
/*        VARIABLES          */
/* ========================= */

:root {
  --color-accent: #f2b13b;
  --color-accent-hover: #e0a232;
  --color-footer: #63402a;
  --color-gray-text: #555;

  --font-main: 'TenorSans', sans-serif;
  --font-global: 'Florensa', serif;

  --breakpoint-xs: 375px;
}

/* ========================= */
/*        RESET              */
/* ========================= */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}
main {
  padding: 20px 80px;
}
body {
  background: #fff;
  color: #000;
  font-family: var(--font-main);
  font-size: 18px;
  padding-top: 120px;
  overflow-x: hidden;
}

button {
  -webkit-appearance: none;
  color: inherit;
}

a {
  color: inherit;
}

@media (max-width: 1024px) {
  main {
    padding: 15px 40px;
  }

  body {
    font-size: 16px;
    padding-top: 80px;
  }
}

@media (max-width: 768px) {
  main {
    padding: 12px 20px;
  }

  body {
    padding-top: 60px;
  }
}

@media (max-width: 420px) {
  main {
    padding: 10px 12px;
  }

  body {
    padding-top: 40px;
  }
}
