@import 'tailwindcss';

/* ========================= */
/*        FONTS              */
/* ========================= */

@font-face {
  font-family: 'Florensa';
  src: url('/fonts/FlorensaDemo-Regular.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'TenorSans';
  src: url('/fonts/TenorSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* ========================= */
/*        RESET              */
/* ========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
  color: #000;
  font-family: 'TenorSans', sans-serif;
  font-size: 18px;
  overflow-x: hidden;
  padding-top: 120px;
}
